* {
    font-family: 'Baloo Da 2', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header {
    font-family: 'Baloo Da 2', cursive;
    font-weight: bold;
}

.background_image {
    background-image: url(../assets/img/carl-raw-8Gdayy2Lhi0-unsplash.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    filter: blur(3px) brightness(80%);
}

.background_image_blur {
    height: 70vh;
    width: 65%;
    border-radius: 10px;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    filter: blur(3px) brightness(5%);
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.regist_container {
    z-index: 2;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.regist_container>section {
    width: 70vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.success_container {
    z-index: 2;
    position: absolute;
    top: 30%;
    left: 52%;
    transform: translate(-50%, 0%);
}

.divider_section {
    width: 4px;
    background-color: white;
}

.logo_register {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blur-mask {
    filter: blur(10px);
    -webkit-filter: blur(8px);
    height: 100%;
    width: 100%;
}

.back_link {
    font-size: 20px;
    text-transform: capitalize;
    color: white;
}

.back_link:hover {
    font-size: 20px;
    text-transform: capitalize;
    color: #68E3DF;
    text-decoration: none;
}

.short_input {
    width: 100%;
    height: 2rem;
    margin-top: 0;
    border-radius: 10px;
    border: none;
    padding-left: .5rem;
}

.label_input {
    margin-bottom: 0px;
    text-transform: capitalize;
    margin-top: .5rem;
    font-size: 16px;
    font-weight: 800;
}

.button_forgot {
    color: white;
    background-color: #5f1a3f;
    border: 0;
    height: 2rem;
    width: 45%;
    border-radius: 10px;
}

.button_login {
    color: white;
    background-color: #28878A;
    border: 0;
    height: 2rem;
    width: 50%;
    border-radius: 10px;
}

.register_button {
    border: 0;
    border-radius: 10px;
    height: 2rem;
    background-color: #28878A;
    color: white;
}

.small_text {
    font-size: 12px;
}

.long_input {
    height: 72px;
    padding: 2px;
    font-size: 12px;
    border-radius: 10px;
}

.divider {
    border: 2px white;
    border-radius: 10px;
    height: 16rem;
}

.divider>img {
    height: inherit;
    width: initial;
}

.heading {
    font-size: xx-large;
    font-weight: 800;
}

.text_hero {
    font-size: large;
    line-height: 2rem;
}

.no_padding {
    padding: 0;
}

.no_margin {
    margin: 0;
}

.button_back_to_login {
    background-color: #28878A;
    color: white;
    border: none;
    margin-left: 1rem;
    padding: .5rem 2rem .5rem 2rem;
    border-radius: 10px;
}

/* .login_section{
    display: flex;
    flex-direction: column;
} */